<div class="author">
    <h1 class="author__heading">Hi there</h1>
    <p class="author__body">WebDeveloper and Content Creator</p> 
</div>

<img src="/img/hero-image.webp" alt="person looking out of the window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading" id="articles-heading">Latest Posts</h2>
    <ul class="article-ul">
        <!--li>
            <a href="">
                <span>Post title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li-->
        
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>            
        <% }) %>
        
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&gt; View older posts</a> 
    <% } else { %>
        <a href="/?page=<%= current - 1 %>" class="pagination">&lt; Newer posts</a> 
    <% } %>


</section>